<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<string>4c5fc873</string>
	<key>app_key</key>
	<string>5d33c99c8d4522a29dae7bd158098b54</string>
</dict>
</plist>
